body {
  background-image: url(background.jpg);
  text-align: center;
  color: white;
}

#nav {
  height: 50px;
}

#img {
  border: solid 2px lightgray;
  border-radius: 50px;
}

#author {
  color: #0c0c0c;
  text-align: right;
}
